.MonthlyWebsiteBackground {
    background-image:url(imgs/backgroundimg.jpg);
    height:400px;
    box-shadow: inset 1px -50px 100px 10px black, 0px 0px 50px 40px black;
}


.MonthlyWebsiteInner {
    color:white;
    border:3px dashed white;
    margin:auto;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:30px;
}


.pt-3 {
    font-size:60px;
}

.btn {
    background-color:purple;
    color:white;
    box-shadow:0px 0px 3px 1px black;

}
.btn:hover {
    background-color:purple;
    transform:scale(1.2);
    color:white;
    border:1px solid white;
}
.card {
   text-align:center;
   box-shadow:0px 0px 10px -5px black;
   font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}